<fieldset class="Password Module">
  <legend>Set password</legend>
  <div class="form-row">
    <div class="form-group col">
      <label for="password">
        <span>Password:</span>
      </label>
      <div class="input-group">
      <input class="form-control" type="password" id="password" name="password"
        value="<%= (user && !user.resetPassToken)
          ? 'placeholder' : null %>" required />
      </div>
    </div>
    <div class="form-group col">
      <label for="confirmPass">
        <span>Confirm Password:</span>
      </label>
      <input class="form-control" type="password" id="confirmPass" name="confirmPass"
        value="<%= (user && !user.resetPassToken)
          ? 'placeholder' : null %>" required />
    </div>
  </div>
</fieldset>