<fieldset id="federated" class="Module">
  <legend>Use an account from...</legend>

  <div class="form-group">
    <a href="./google" class="Google btn"
      title="Sign in with Google">
      <span>Sign in with Google</span></a>
    <a href="./microsoft" class="Microsoft btn"
      title="Sign in with Microsoft">
      <span>Sign in with Microsoft</span></a>
  </div>
</fieldset>