<main>
<h1>Hewwn: You've joined!</h1>
<p>First, let's confirm this is actually your email address. 
  Type this code into the prompt in your browser or app:<p>

<p style="text-align: center; font-weight: 900; font-size: 3em;">
  <%= groupA %>&nbsp;<%= groupB %></p>

<p>Or click the following link:</p>

<p style="text-align: center;">
  <a href="<%= verifyLink %>">Verify account</a></p>

<p>...and start building!</p>
<p style="font-size: 0.75em; font-style: italic; color: gray;">
  **If you did not recently sign up for our services, just ignore this message.</p>
</main>