<nav id="globalNav">
  <div class="navbar-header">
    <h1><a href="/">Auth Boilerplate</a></h1>
  </div>

  <% if (locals.userProfile) { %>
  <div id="globalMenu">
    <ul class="navbar-nav">
      <% 
      if (userProfile.role === 'sys_admin') { %>
      <li class="nav-item">
        <div class="GlobalSubMenu">
          <span>
            <a href="/users" class="nav-link">
              Users</a>
          </span>
        </div>
      </li>
      <% } %>
    </ul>
  </div>
<% } %>
</nav>
