<h2>Recover Your Hewwn Account</h2>

<p>You are receiving this email because a request has been made to reset the
password for your account at Hewwn. If you intended to do this,
click the following link:</p>

<p style="text-align:center;"><a href="<%= recoverLink %>">Recover Account</a></p>

<p>...otherwise ignore this email and your password will remain unchanged.</p>