<h2>Recupera tu Hewwn cuenta</h2>

<p>Está recibiendo este correo electrónico porque se ha realizado
una solicitud para restablecer el Contraseña para su cuenta en Hewwn.
Si pretendías hacer esto, haga clic en el siguiente enlace:</p>

<p style="text-align:center;"><a href="<%= recoverLink %>">Recupera cuenta</a></p>

<p>...De lo contrario, ignore este correo electrónico y su contraseña
permanecerá sin cambios.</p>