<main>
<h1>Hewwn: ¡Te has unido!</h1>
<p>Primero, confirmemos que esta es en realidad su dirección de correo electrónico.
  Escriba este código en el indicador de su navegador o aplicación:<p>

<p style="text-align: center; font-weight: 900; font-size: 3em;">
  <%= groupA %>&nbsp;<%= groupB %></p>

<p>O haga clic en el siguiente enlace:</p>

<p style="text-align: center;">
  <a href="<%= verifyLink %>">Verificar cuenta</a></p>

<p>...y empieza a construir!</p>
<p style="font-size: 0.75em; font-style: italic; color: gray;">
  Si no se suscribió recientemente a nuestros servicios, simplemente ignore este mensaje.</p>
</main>